
<h1>About DMPonline</h1>

<p class="white_background">
	Funding bodies increasingly require their grant-holders to produce data management plans, both during the bid-preparation stage and after funding has been secured.
</p>
<p class="white_background">
	DMP Online has been produced by the UK's <a href="http://www.dcc.ac.uk">Digital Curation Centre</a> to help research teams respond to this requirement, and any expectations that their institution or others may apply.
</p>
<p class="white_background">
	The DCC has worked closely with research funders and universities to produce a tool that assists researchers to produce an effective data management plan (DMP) to cater for the whole lifecycle of a project, from bid-preparation stage through to completion.
</p>
<h3><strong>How the tool works</strong></h3>
<p class="white_background">
	There are a number of templates within the tool that represent the requirements of different funders and institutions. Users are asked to select the appropriate template (e.g. ESRC template when applying for an ESRC grant) and answer the questions contained within it. These answers form the basis of the DMP, which can be downloaded and formatted as needed.
</p>
<p class="white_background">
	Guidance is provided to help you interpret and answer the questions. This guidance is provided by researcher funders, universities and disciplines.
</p>
<h3><strong>Getting Started</strong></h3>
<p class="white_background">
	If you have an account please login and start creating or editing your data management plan.
</p>
<p class="white_background">
	If you do not have a DMP Online account, click on 'Create Account' on the homepage.
</p>
<p class="white_background">
	Please visit the 'Help' page for guidance.
</p>
<h3><strong>Additional Information</strong></h3>
<p class="white_background">
	DMP Online is currently undergoing a major development to improve the user interface and functionality of the tool. If you would like to contribute with feedback and suggestions, please contact us by emailing <a href="mailto:DMPOnline@dcc.ac.uk">dmponline@dcc.ac.uk</a>
</p>