---
base_url: "http://leeds.library.ualberta.ca/"
admin_user:
  name: admin@test.com
  password: <password> 
email_user:
  name: testuser@test.com 
  password: <password> 
dmp_user:
  name: testuser@test.com 
  password: <password>
dmp_share_user:
  name: shareuser@test.com
  password: <password>
dmp_plan:
  name: "no one else could possibly have the same name as this"
  

