<h1><%= t('helpers.sign_up') %></h1>
	<p class="alert alert-notice">If you want to link your institutional credentials to an existing account, you need to <%= link_to "log in", root_path %> first.</p>
	<div class="dmp_details_body">

	<%= render :partial => 'shared/register_form', locals: {extended: true} %>
	
	</div>
</div>	