<!-- Project title -->
<div class="project-title-container">
    <div class="project-title">
        <h3>
            <%= project.title %>
        </h3> 
    </div>
    <!-- to be displayed only if user is project creator -->
    <div class='project-title-edit'>
        <h5><%= link_to t('.edit', :default => t("helpers.project.edit")),edit_project_path(project) %></h5>
    </div>
</div>