<div class="dmp_toolbar">
  <a class="icon-cog btn-configure" href="<%= settings_projects_path -%>" title="<%= t('helpers.project.configure') -%>">
    <span class="hide-text"><%= t('helpers.project.configure') -%></span>
  </a>
</div>
