<%- model_class = Project -%>
<% javascript 'projects.js' %>
<div class="new-project-container">
    <!-- top paragraph -->
    <div class="new-project-description">

    </div>

    <!-- render dropdowns for plan selection -->
    <%= render 'dropdowns_new_project' %>

</div>
