<%- model_class = Project -%>
<!-- navigation tabs for the project-->
<%= render "project_nav_tabs" %>

<!-- project details -->
<div class= "main-body">
    <p id="notice"><%= notice %></p>
   
        <!-- Main content to show project details-->
    <div class="main-content" id="#tabs-1">
        <%= render "project_details" %>
    </div>      
</div> 

