// Place all the styles related to the Plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.formtastic {
	ol { list-style-type: none; }
	fieldset { border: none; }
}

#sections-accordion {
	.question-form {
		float:left;
		width:60%;
	}
	.question-guidance {
		padding-left:5px;
		float:right;
		width:35%;
	}
	label {
		font-size: 1.2em;
		font-weight: bold;
	}
	.guidance_header {
		font-weight: bold;
	}
}

.two-column-clear {
	clear: both;
}