
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrap{
  min-height: 100%;
  /* equal to footer height */
  	margin: 0 10% -80px 10%;
	min-width: 540px;
}
.wrap:after{
  content: "";
  display: block;
}

p.step{
  font-size: 15px;
  line-height: 25px;
  font-weight: bold;
}

p.home-description{
  line-height: 25px;
  font-weight: normal;
  font-size: 18px;
}

ul.list{
  list-style:disc;
  line-height: 24px;
}

li.list{
  line-height: 24px;
  list-style-position: inside;
}


footer, .wrap:after{
  /* .push must be the same height as footer */
  height: 80px; 
}
footer{
 background-color: #1f3d7d;
 padding: 0 10%;
 color: #999;
 font-size: 11px;
 margin-top: 0;
 width: auto;
}
footer .right_side_footer p{
 font-size: 11px;
 text-align: right;
 font-size: 12px;
 margin-top: 15px;
}
footer .right_side_footer a{
	color: #efefef;
	text-decoration: none;
	font-style: italic;;
}
.left_side_footer{
	margin-top: 20px;
}

.left_side_footer img{
	margin-top: -10px;
}
.left_side_footer img{
	width: 80px;
}
.right_side_footer{
}
.right_side_footer img{
        width: 150px;
        margin-top: -10px;
}
body.dmponline{
	margin: 0;
}
.header_right{
	width: 30%;
        float: left;
        padding-top: 10px;
}
.header_center{
        width: 20%
        font-size: 17px;
        margin-right: 20px;
        padding-right: 10px;
        padding-left: 10px;
        margin-left: 20px;
        margin-top: 25px;
        margin-bottom: 12px;
        text-align: center;
        float: left;
        font-weight: bold;
        border-right: 2px solid #FB9C26;
        border-left: 2px solid #FB9C26;
}
.header_left{
	width: 40%;
        float: left;
}
.dmponline{
	background-image: none;
}
.welcome-message p{
	color: #000;
}
.uofa-header{
	padding-top: 15px;
	height: 120px;
        width: 100%
}
.home_logo {
	width: 380px;
	margin-right: 0px;
	margin-top: -8px;
}
h3.subhead{
	color: #1F3D7D;
	font-size: 17px;
	margin-top: -3px;
	margin-left: 45px;
	letter-spacing: 1px;
        font-weight: bold;

}
	
.signIn {
	margin:5px 20px;
	top: 0;
        float: right;
}

ul#signIn_dropdown {
background: #929694 !important;
}
.signIn ul li a, .signIn ul li a.active, .signIn ul li a:visited {
	color: #1F3D7D;
}
.signIn ul {
color: #1F3D7D;
}

.screencast_home_page, .accordion-group{
	box-shadow: none;
}
.main_nav {
        float: right;
	clear: none;
	margin: 0px 0 0 0;
}
.plus-laranja:before, .plus-laranja:before{
	padding-top: 15px;
}
body.dmponline .btn-primary, body.dmponline .btn-primary:active, body.dmponline .btn-primary:visited, body.dmponline .btn-primary:focus {
background: #1F3D7D;
}
body.dmponline .btn-primary:hover {
	background: #5f7dbf;
}
div.white_background, #homepage-accordion .accordion-group {
	padding: 10px 20px;
	background: #efefef;
background: -moz-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F4F4F4));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F4F4F4',GradientType=0 );
	box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
	margin: 0 0 20px 0;
	border:1px solid #efefef;
}
.caret {
	border-top: 4px solid #fff;
}
.screencast_home_page a {
	box-shadow: none;
	font-size:18px;
}
#project-tabs li.tips a{
  background-color: #FB9C26;
  border: 1px solid #FB9C26;
  padding: 4px 20px 4px 20px;
  text-decoration: none !important;
}
.tips_body {
  background-color: #ffffff;
  border: 2px solid #FB9C26;
  border-radius: 1px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  min-width: 300px;
}

.center_left_footer img {
    width: 80px;
}
.right_left_footer img {
    width: 160px;
}
.far_right_left_footer img {
    width: 160px;
}

