
h1, h2, h3, h4 {
  
  color: #2F5D7C;
  
}

a, a:active, a:focus {
  color: #2F5D7C;
}

a.visited{
  color: #2F5D7C;
}

.dmp_toolbar {
  background-color: #2F5D7C;
}
footer{
 background-color: #2F5D7C;
 color: #999;
}
footer .right_side_footer p{
	 color: #fff;
}
footer .right_side_footer a{
	color: #efefef;
}
.right_side_footer{
	color: #fff;
}
.dmponline{
	background: url('UBC_background.png') top center repeat-x;

}
.welcome-message p{
	color: #000;
}
h3.subhead{
	color: #fff;
	font-size: 17px;
	margin-top: -10px;
	margin-left: 50px;
	letter-spacing: 1px;

}
ul#signIn_dropdown {
background: #fff !important;
}
.signIn ul li a, .signIn ul li a.active, .signIn ul li a:visited {
	color: #fff;
}
.subhead a {
	color: #fff;
	text-decoration:none;
}
.signIn ul {
color: #fff;
}
body.dmponline .btn-primary, body.dmponline .btn-primary:active, body.dmponline .btn-primary:visited, body.dmponline .btn-primary:focus {
background: #2F5D7C;
}
body.dmponline .btn-primary:hover {
	background: #2F5D7C;
}
div.white_background, #homepage-accordion .accordion-group {
	background: #efefef;
background: -moz-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F4F4F4));
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F4F4F4',GradientType=0 );
        box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
        -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
        margin: 0 0 20px 0;
        border:1px solid #efefef;
}

.caret {
	border-top: 4px solid #fff;
}
table.dmp_table thead{
  background-color: #2F5D7C;
}
table.dmp_table a.dmp_table_link:hover{
  color: #2F5D7C;
}

li.select label, li.check_boxes .label{
  color: #2F5D7C;
}
#other-funder-name .label {
  color: #2F5D7C;
}

#project-tabs li.active a, #project-tabs li.active a:active, #project-tabs li a:hover{
  background-color: #2F5D7C;
  border: 1px solid #2F5D7C;
}

.dmp_details_body{
  border: 2px solid #2F5D7C;
}

table.dmp_details_table tr td.first{
  border-right: 1px solid #2F5D7C;
}

ul.section_ul li{
  color: #2F5D7C;
 }


.accordion-group{
  background-color: #2F5D7C;
  border-color:#2F5D7C;
}

.accordion-heading{
  background-color: #2F5D7C;

}

.section-status{
  background-color: #2F5D7C;
}

div.suggested-answer-border {
  border: 1px solid #2F5D7C;

}
.question-guidance .guidance-accordion-body {
  border: 1px solid #2F5D7C;
}
.question-guidance .accordion-heading a, .question-guidance .accordion-heading a:hover{
    color:  #2F5D7C !important;
}


ul.export_list li{
  ul.export_sub_list {

    li:before {
      color: #2F5D7C;
    }

  }
}

.column_left{
 
  .white_background{
 
    table.dmp_details_table tr td.first{
      border-right: 1px solid #2F5D7C;
   
    }
    
  }
}

.mce-item-table th {
       
        background-color: #2F5D7C;
}
.progress {
  .bar {
    .ProgressBar(#2F5D7C, #002145);
  }

  .bar.space {
    .ProgressBar(#98B2C3, #2F5D7C);

  }

 .color-text{
    color: #2F5D7C;
  }
}
#project-tabs li.tips a{
  background-color: #FB9C26;
  border: 1px solid #FB9C26;
}
div#sections-accordion a.accordion-toggle {
  color: #fff;
}
