
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrap{
  min-height: 100%;
  /* equal to footer height */
  	margin: 0 10% -80px 10%;
	min-width: 540px;
}
.wrap:after{
  content: "";
  display: block;
}
footer, .wrap:after{
  /* .push must be the same height as footer */
  height: 80px; 
}
footer{
 background-color: #1a4824;
 padding: 0 10%;
color: #999;
 font-size: 11px;
 margin-top: 0;
 width: auto;
}
footer .right_side_footer p{
	 margin-top: 15px;
	 color: #fff;
 font-size: 12px;
 text-align: right;
}
footer .right_side_footer a{
	color: #efefef;
	text-decoration: none;
	font-style: italic;;
}
.left_side_footer{
	margin-top: 20px;
}
.left_side_footer img{
	margin-top: -10px;
}
.left_side_footer img{
	width: 100px;
}
.right_side_footer{
	color: #fff;
}
body.dmponline{
	margin: 0;
}
.dmponline{
	background-image: none;
	background: url('https://www.library.ualberta.ca/2012assets/top_back.png') top center repeat-x;
}
.welcome-message p{
	color: #000;
}
.uofa-header{
	padding-top: 25px;
	height: 60px;
}
.home_logo {
	width: 314px;
	margin-right: 0px;
}

.header_right{
	padding-top: 10px;
	
}
.signIn {
	margin:5px 20px;
	top: 0;
}
ul#signIn_dropdown {
background: #fff !important;
}
.signIn ul li a, .signIn ul li a.active, .signIn ul li a:visited {
	color: #fff;
}
.signIn ul {
color: #fff;
}
.screencast_home_page, .accordion-group{
	box-shadow: none;
}
.main_nav {
	clear: none;
	margin: 0px 0 0 0;
}
.plus-laranja:before, .plus-laranja:before{
	padding-top: 15px;
}
body.dmponline .btn-primary, body.dmponline .btn-primary:active, body.dmponline .btn-primary:visited, body.dmponline .btn-primary:focus {
background: #1a4824;
}
body.dmponline .btn-primary:hover {
	background: #2e9463;
}
div.white_background, #homepage-accordion .accordion-group {
	padding: 10px 20px;
	background: #efefef;
background: -moz-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F4F4F4));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F4F4F4',GradientType=0 );
	box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
	margin: 0 0 20px 0;
	border:1px solid #efefef;
}
.caret {
	border-top: 4px solid #fff;
}