* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrap{
  min-height: 100%;
  /* equal to footer height */
  	margin: 0 10% -80px 10%;
	min-width: 540px;
}
.wrap:after{
  content: "";
  display: block;
}

h1, h2, h3, h4 {
  
  color: #1a4824;
  
}

a, a:active, a:focus {
  color: #1a4824;
}

a.visited{
  color: #1a4824;
}

.dmp_toolbar {
  background-color: #1a4824;
}
footer, .wrap:after{
  /* .push must be the same height as footer */
  height: 80px; 
}
footer{
 background-color: #1a4824;
 padding: 0 10%;
color: #999;
 font-size: 11px;
 margin-top: 0;
 width: auto;
}
footer .right_side_footer p{
	 margin-top: 15px;
	 color: #fff;
 font-size: 12px;
 text-align: right;
}
footer .right_side_footer a{
	color: #efefef;
	text-decoration: none;
	font-style: italic;;
}
.left_side_footer{
	margin-top: 20px;
}
.left_side_footer img{
	margin-top: -10px;
}
.left_side_footer img{
	width: 100px;
}
.right_side_footer{
	color: #fff;
}
body.dmponline{
	margin: 0;
}
.header_right{
	width: 60%
}
.header_left{
	width: 40%;
}
.header_center a{
        color: #fff;
}
.dmponline{
	background-image: none;
	background: url('https://www.library.ualberta.ca/2012assets/top_back.png') top center repeat-x;
}
.welcome-message p{
	color: #000;
}
.uofa-header{
	padding-top: 25px;
	height: 60px;
}
.home_logo {
	width: 280px;
	margin-right: 0px;
	margin-top: -8px;
}
h3.subhead{
	color: #fff;
	font-size: 17px;
	margin-top: -3px;
	margin-left: 45px;
	letter-spacing: 1px;

}
.header_right{
	padding-top: 10px;
	
}
.signIn {
	margin:5px 20px;
	top: 0;
}
ul#signIn_dropdown {
background: #fff !important;
}
.signIn ul li a, .signIn ul li a.active, .signIn ul li a:visited {
	color: #fff;
}
.signIn ul {
color: #fff;
}
.screencast_home_page, .accordion-group{
	box-shadow: none;
}
.main_nav {
	clear: none;
	margin: 0px 0 0 0;
}
.plus-laranja:before, .plus-laranja:before{
	padding-top: 15px;
}
body.dmponline .btn-primary, body.dmponline .btn-primary:active, body.dmponline .btn-primary:visited, body.dmponline .btn-primary:focus {
background: #1a4824;
}
body.dmponline .btn-primary:hover {
	background: #2e9463;
}
div.white_background, #homepage-accordion .accordion-group {
	padding: 10px 20px;
	background: #efefef;
background: -moz-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F4F4F4));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F4F4F4',GradientType=0 );
	box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
	margin: 0 0 20px 0;
	border:1px solid #efefef;
}
.caret {
	border-top: 4px solid #fff;
}
.screencast_home_page a {
	box-shadow: none;
	font-size:18px;
}

table.dmp_table thead{
  background-color: #1a4824;
}
table.dmp_table a.dmp_table_link:hover{
  color: #1a4824;
}

li.select label, li.check_boxes .label{
  color: #1a4824;
}
#other-funder-name .label {
  color: #1a4824;
}

#project-tabs li.active a, #project-tabs li.active a:active, #project-tabs li a:hover{
  background-color: #1a4824;
  border: 1px solid #1a4824;
}

.dmp_details_body{
  border: 2px solid #1a4824;
}

table.dmp_details_table tr td.first{
  border-right: 1px solid #1a4824;
}

ul.section_ul li{
  color: #1a4824;
 }


.accordion-group{
  background-color: #1a4824;
  border-color:#1a4824;
}

.accordion-heading{
  background-color: #1a4824;

}
.section-status{
  background-color: #1a4824;
}

div.suggested-answer-border {
  border: 1px solid #1a4824;

}
.question-guidance .guidance-accordion-body {
  border: 1px solid #1a4824;
}
.question-guidance .accordion-heading a, .question-guidance .accordion-heading a:hover{
    color:  #1a4824 !important;
}


ul.export_list li{
  ul.export_sub_list {

    li:before {
      color: #1a4824;
    }

  }
}

.column_left{
 
  .white_background{
 
    table.dmp_details_table tr td.first{
      border-right: 1px solid #1a4824;
   
    }
    
  }
}

.mce-item-table th {
       
        background-color: #1a4824;
}
.progress {
  .bar {
    .ProgressBar(#1a4824, #002145);
  }

  .bar.space {
    .ProgressBar(#98B2C3, #1a4824);

  }

 .color-text{
    color: #1a4824;
  }

#project-tabs li.tips a{
  background-color: #FB9C26;
  border: 1px solid #FB9C26;
  padding: 4px 20px 4px 20px;
  text-decoration: none !important;
}
.tips_body {
  background-color: #ffffff;
  border: 2px solid #FB9C26;
  border-radius: 1px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  min-width: 300px;
}

