* {
  margin: 0;
}

h1, h2, h3, h4 {
  
  color: #1a4824;
  
}

a, a:active, a:focus {
  color: #1a4824;
}

a.visited{
  color: #1a4824;
}

.dmp_toolbar {
  background-color: #1a4824;
}
footer{
 background-color: #1a4824;
}
footer .right_side_footer p{
	 color: #fff;
}
.right_side_footer{
	color: #fff;
}
.header_center a{
        color: #fff;
}
.dmponline{
	background: url('top_back.png') top center repeat-x;
}
h3.subhead{
	color: #fff;

}

body.dmponline .btn-primary, body.dmponline .btn-primary:active, body.dmponline .btn-primary:visited, body.dmponline .btn-primary:focus {
  background: #1a4824;
}

.signIn ul li a, .signIn ul li a.active, .signIn ul li a:visited {
	color: #fff;
}

body.dmponline .btn-primary:hover {
	background: #2e9463;
}

table.dmp_table thead{
  background-color: #1a4824;
}
table.dmp_table a.dmp_table_link:hover{
  color: #1a4824;
}

li.select label, li.check_boxes .label{
  color: #1a4824;
}
#other-funder-name .label {
  color: #1a4824;
}

#project-tabs li.active a, #project-tabs li.active a:active, #project-tabs li a:hover{
  background-color: #1a4824;
  border: 1px solid #1a4824;
}

.dmp_details_body{
  border: 2px solid #1a4824;
}

table.dmp_details_table tr td.first{
  border-right: 1px solid #1a4824;
}

ul.section_ul li{
  color: #1a4824;
 }


.accordion-group{
  background-color: #1a4824;
  border-color:#1a4824;
}

.accordion-heading{
  background-color: #1a4824;

}
.section-status{
  background-color: #1a4824;
}

div.suggested-answer-border {
  border: 1px solid #1a4824;

}
.question-guidance .guidance-accordion-body {
  border: 1px solid #1a4824;
}
.question-guidance .accordion-heading a, .question-guidance .accordion-heading a:hover{
    color:  #1a4824 !important;
}


ul.export_list li{
  ul.export_sub_list {

    li:before {
      color: #1a4824;
    }

  }
}

.column_left{
 
  .white_background{
 
    table.dmp_details_table tr td.first{
      border-right: 1px solid #1a4824;
   
    }
    
  }
}

.mce-item-table th {
       
        background-color: #1a4824;
}
div#sections-accordion a.accordion-toggle {
  color: #fff;
}

