<!-- footer container -->
<footer class="footer">
    <div class="container">
        <ul class="footer-links">
            <li><a href="www.dcc.ac.uk" target="_blank">&copy; 2004 - <%= Time.now.year %> DCC</a></li>
            <li class="muted">.</li>
            <li><a href="#">Contact Us</a></li>
            <li class="muted">.</li>
            <li><a href="#">Accessibility</a></li>
            <li class="muted">.</li>
            <li><a href="#">Terms of Use</a></li>
            <li class="muted">.</li>
            <li><a href="#">Privacy Policy</a></li>
       </ul>
    </div>
</footer>
